{% load static %}
{% url 'products:detail' as detail_url %}


<!-- Button trigger modal -->
<button class = "btn btn-primary btn-lg" data-toggle = "modal" data-target = "#myModal">
   Modal Product View

</button>

<!-- Modal -->
<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">

   <div class = "modal-dialog">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                  &times;
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
               This Modal title
            </h4>
         </div>
         
         <div class="modal-body">



         </div>
         
         <div class = "modal-footer">
            <button type = "button" class = "btn btn-default" data-dismiss = "modal">
               Close
            </button>
            
            <button type = "button" class = "btn btn-primary">
               Submit changes
            </button>
         </div>
         
      </div><!-- /.modal-content -->
      </form>
      
   </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->


{% load static %}



<!-- Yung card.html -->
<div class="card" style="width: 15rem;">
  {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}">
      <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
    </a>

    
    <div class="card-body">
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
        {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
        {% include 'products/snippets/view-cart.html' with product=instance cart=cart %}
    <!-- <a href="#" class="btn btn-primary">Add to cart</a> -->



    <!-- Modal for details -->


    <!-- end modal for details -->



    </div> <!--end of card-body -->
    

  <div class="card-body">
    <h5 class="card-title">{{ instance.title|linebreaks|truncatewords:14 }}</h5>
    <p class="card-text">{{ instance.description|linebreaks|truncatewords:3}}</p>
    <p class="card-text">₱{{ instance.price}}</p>
    

    <!-- <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-warning">URL shortcut</a> -->
    {% endif %} 
  </div>
</div>

