{% extends "base.html" %}

{% block content %}
<div class="form-group" style="background-color: #343a40;">
  <div class = 'text-center'>
  <br>
             <h1>{{ title }}</h1>
             <h1></h1>
             <h1 style="text-align: center; color: red;">Sign in</h1>
  </div>

  <div class = 'jumbotron'><div class="form-group">

    <div class='container'>
      <div class='row'>
        <div class='col'>
                  <p>{{ content }}</p>

              <div class='col-sm-6 col-12'>
              </div>
      <!-- start here -->
      <form method='POST'> {% csrf_token %}
        {{ form }}
        <br><button type='submit' class='btn btn-primary'>Sign in</button>
      </form>
      <!-- end here -->
      </form>

          </div><!-- 6 -->
        </div><!-- 5 -->
      </div><!-- 4 -->
    </div><!-- 3 -->
  </div><!-- 2 -->
</div><!-- 1 -->
{% endblock %}
