{% extends "base.html" %}
{% load static %}
{% block content %}
<center>
<img src = "{% static 'img/alfamartmap.jpg'%}" class = "img-fluid">
<h3>Alfamart, M. Manabat St, Biñan, 4024 Laguna</h3>
</center>
<center><b><p></p></center></b>
<p>Facebook: <a href=" https://www.facebook.com/alfamartku/">https://www.facebook.com/alfamartku/</a></p>
<p>Messenger: <a href=" https://m.me/alfamartku?fbclid=IwAR2B0y2MUfRok4KRekWbwPWd_Rg5reIUEtV7BRaEjVmKhyVytY06XRSkf9c">https://www.messenger.com/alfamartku/</a></p>
<div class="form-group" style="background-color: #343a40;">
  <div class = 'text-left' >
        <br>
       <!-- <h1>{{ title }}</h1> -->

       <center><h1 style="text-align: center; color: red;">Comments and Suggestions</h1></center>
    <div class = 'jumbotron'>

            <div class="form-group"><!-- 8 -->
             <h1></h1>
            </div><!-- 8 -->

      <div class='container'>
        <div class='row'>
          <div class='col'>

            <div class='col-md-8 col-12 mx-auto'>

            

                <p>{{ content }}</p>
                <form class='contact-form' method='POST' action='{% url "contact" %}'> {% csrf_token %}
                  <h4>{{ form }}</h4>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            
            <!-- <form method="POST"> {% csrf_token %}
              <input type='text' class='form-control' placeholder="Name" name='fullname'>
              <input type='email' class='form-control' placeholder="Email" name='email'>
              <textarea rows="" cols="" name="content" class="form-control" placeholder="Your content"></textarea>
              <button type="submit" class="btn btn-default">Submit</button> 
            </form> -->
            </div><!-- 7 -->
         </div><!-- 6 -->
       </div><!-- 5 -->
      </div> <!-- 4 -->
    </div><!-- 3 -->
  </div> <!-- 2 -->
</div><!-- 1 -->


{% endblock %}
